<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="headAttributes">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
        <link  th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
        <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.2/css/all.min.css}">
        <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.2/css/fontawesome.min.css}">
        <link th:rel="stylesheet" th:href="@{/css/base.css}">
    </th:block>
    <meta charset="UTF-8">
    <title>Asian Health Clinic</title>
</head>
<body>
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light  bg-primary  border border-light ">
    <a class="navbar-brand" th:href="@{/}"><h2 class="text-light">&nbsp Asian Health Clinic</h2></a>
    <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item">
            <a class="nav-link text-light" th:classappend="${#request.getServletPath() == '/' ? 'active': ''}" th:href="@{/}">Home</a></li>
        </ul>

        <ul class="navbar-nav mr-auto" >
            <li class="nav-item" >
                <a class="nav-link text-light"  th:classappend="${#request.getServletPath() == '/addPatient' ? 'active': ''}"  th:href="@{/addPatient}">Book Appointment</a></li>
        </ul>

        <ul class="navbar-nav mr-auto" >
            <li class="nav-item"><a class="nav-link text-light" th:classappend="${#request.getServletPath() == '/view' ? 'active': ''}" th:href="@{/view}">Patient list</a></li>
        </ul>


    </div>
</nav>


<div th:fragment="header">
    <div class="container-fluid">
        <div class="row justify-content-center mt-3 mb-3">
            <div class="col-8 text-center" >
                <h3>Patient Appointment System</h3>
            </div>
        </div>

        <div class="img-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center" >
                <img id="img" th:src="@{/images/image.jpg}"/>
                </div>
            </div>
        </div>



    </div>

</div>

<footer class="footer bg-primary " th:fragment="footer">
    <div class="container-fluid text-center ">
        <span class="text-light ">Jestin Jose@ Copyright 2021</span>
    </div>

</footer>

</body>
<th:block th:fragment="scripts">
    <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.1/js/bootstrap.min.js}"></script>
</th:block>
</html>