<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert ="fragments/base :: headAttributes"></th:block>
    <title>Success</title>
</head>
<body>
<div th:replace="fragments/base :: navigation"></div>

<div class="container-fluid mt-5">
    <div th:each="patient: ${patients}">
        <div class="row justify-content-center mb-3">
            <div class="col-2 col-md-4">
            </div>

            <div class="col-2 col-md-4 card">
                <div class="card-body bg-warning">
                    <h5 class="card-title d-inline" th:text="${patient}"></h5>
                    <a th:href="@{/addPatient/view/{id}(id=${patient.id})}" class="ml-6"><i class="fas fa-eye"></i></a>
                    <a type="button" data-bs-toggle="modal" th:attr="data-bs-target='#delete' +${patient.id}" class="ml-6 text-danger"><i class="fas fa-trash-alt"></i></a>

                    <div class="modal fade" tabindex="-1" aria-hidden="true" th:attr="id='delete' + ${patient.id}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" th:text="Warning"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>

                            <div class="modal-body">
                                <h5 class="text-danger">Do you want to delete the flashcard </h5>

                            </div>

                            <div class="modal-footer">
                                <a type="button" class="btn btn-secondary" th:attr="href='addPatient/delete/'
                         +${patient.id}">Yes</a>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2 col-md-4">
            </div>

        </div>
    </div>
    </div>


<div th:replace="fragments/base :: footer"></div>
</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>