<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert ="fragments/base :: headAttributes"></th:block>
    <title>Edit Physician Details</title>
</head>
<body>
<div th:replace="fragments/base :: navigation"></div>

<div class="container-fluid">
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-7 text-center" >
            <h3>Edit Physician Details</h3>
        </div>
    </div>


<form th:action="@{/addPhysician/edit/{id}(id=${physician.id})}" th:object="${physician}" method="post">
    <div class="container-fluid">
        <div class="form-group row justify-content-center ">
            <div class="col-6  mt-1 mb-1">
                <label for="firstName" class="col-sm-3 col-form-label">First Name</label>
                <input type="text" id="firstName" th:field="*{firstname}">

            </div>
        </div>

        <div class="form-group row justify-content-center ">
            <div class="col-5 col-md-3">
                <span class="text-danger small" th:if="${#fields.hasErrors('firstname')}"
                      th:errors="*{firstname}"></span>
            </div>
        </div>

        <div class="form-group row justify-content-center ">
            <div class="col-6  mt-1 mb-1">
                <label for="firstName" class="col-sm-3 col-form-label">Last Name</label>
                <input type="text" id="lastName" th:field="*{lastname}">

            </div>
        </div>

        <div class="form-group row justify-content-center ">
            <div class="col-5 col-md-3">
                <span class="text-danger small" th:if="${#fields.hasErrors('lastname')}"
                      th:errors="*{lastname}"></span>
            </div>
        </div>

        <div class="form-group row justify-content-center ">
            <div class="col-6  mt-1 mb-1">
                <label for="speciality" class="col-sm-3 col-form-label">Speciality</label>
                <input type="text" id="speciality" th:field="*{speciality}">

            </div>
        </div>

        <div class="form-group row justify-content-center ">
            <div class="col-5 col-md-3">
                <span class="text-danger small" th:if="${#fields.hasErrors('speciality')}"
                      th:errors="*{speciality}"></span>
            </div>
        </div>

        <div class="form-group row justify-content-center ">
            <div class="col-6  mt-1 mb-1">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <input type="email" id="email" th:field="*{email}">

            </div>
        </div>

        <div class="form-group row justify-content-center ">
            <div class="col-5 col-md-3">
                <span class="text-danger small" th:if="${#fields.hasErrors('email')}"
                      th:errors="*{email}"></span>
            </div>
        </div>

        <div class="form-group row justify-content-center ">
            <div class="col-6  mt-1 mb-1">
                <label for="phone" class="col-sm-3 col-form-label">Phone Number</label>
                <input type="number" id="phone" th:field="*{phone}">

            </div>
        </div>

        <div class="form-group row justify-content-center ">
            <div class="col-5 col-md-3">
                <span class="text-danger small" th:if="${#fields.hasErrors('phone')}"
                      th:errors="*{phone}"></span>
            </div>
        </div>


        <div class="mb-3 mt-3" th:each="bak: *{appointment}">
            <div class="row justify-content-center mb-1">
                <div class="col-5 col-md-3">
                    <span th:text="${bak}"></span>

                </div>
            </div>
        </div>


        <div class="row justify-content-center mt-3">
            <div class="col-8 col-md-3">
                <input class="btn btn-light btn-outline-dark" type="submit" value="Add">
                <a class="ml-2 btn btn-light btn-outline-dark" th:href="@{/addPhysician/view}">Cancel</a>
            </div>
        </div>

    </div>
</form>
</div>



<div th:replace="fragments/base :: footer"></div>
</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>